:root {
  --background-color: #f1f1f1;
  --futura-font: 'Futura PT';
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background-color: var(--background-color);
}
html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura PT';
}

.page {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  max-width: 768px;
  min-width: 50px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 15px;
}

.header {
  margin: 0 auto;
  width: 100%;
}
.header__logo-desktop {
  display: none;
}
.desktop__menu {
  display: none;
}
.logo-desktop {
  display: none;
}
.header__container {
  margin: 0 auto;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  height: 12px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: none;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  z-index: 300;
}

.menu--active {
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.header__hamburger-icon {
  background: url('./assets/Vector.png') no-repeat center;
  background-size: contain;
  width: 18px;
  height: 12px;
  cursor: pointer;
}

.menu {
  position: absolute;
  visibility: hidden;
  background-color: #ad4844;
  opacity: 0;
  left: 15px;
  right: 15px;
  top: 50px;
  z-index: 600;
  transition: 0.4s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.4s;
}

.menu--open {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 15px;
  height: 230px;
}

.menu__item {
  padding: 10px;
  color: #d8d8d8;
  text-align: center;
  font-size: 13px;
  font-weight: 450;
}
.overlay {
  visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  margin: 0 auto;
  padding: 0;
  pointer-events: none;
  z-index: 200;
  transition: opacity 0.4s, visibility 0.4s;
}
.overlay--visible {
  display: block;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
.active {
  color: white;
  border-bottom: 1px solid white;
}
.main__desktop {
  display: contents;
}
.hero__image-desktop {
  display: none;
}
.hero__image-container-desktop {
  display: contents;
}
.btn__kup-teraz {
  display: none;
}
.hero__container {
  margin: 0 auto;
  margin-top: 61px;
  margin-bottom: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &::after {
    content: '';
    display: flex;
    position: absolute;
    height: 162px;
    width: 63px;
    left: 0;
    top: 22%;
    background: url('./assets/vector-wygoda.svg') no-repeat center;
    background-size: contain;
    transform: rotate(15deg) translateX(-20%);
  }
  & .hero__image {
    background: url('./assets/header-product-photo.png') no-repeat center;
    height: 368.48px;
    width: 100%;
    margin-top: 30px;
    background-size: contain;
  }

  & .hero__welcome-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8.5px;
    font-size: 20px;
    font-weight: 450;
    text-align: center;
    .hero__text-large {
      background: linear-gradient(to right, #111111, #b1b1b1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 450;
      text-align: center;
    }

    .hero__text-small {
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      position: relative;
    }
  }
}

.main {
  margin: 0 auto;
  margin-top: 70px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &::before {
    content: '';
    display: flex;
    position: absolute;
    height: 162px;
    width: 63px;
    right: 0;
    top: 25%;
    background: url('./assets/Vector-wygoda-right.svg') no-repeat center;
    background-size: contain;
    transform: translateX(45%) rotate(-90deg);
  }
}
& .distinctions {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  position: relative;
  background: linear-gradient(to right, #111111, #b1b1b1, #696969, #b1b1b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
& .distincitions__claw {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 90px;
  font-size: 20px;
  font-weight: 450;
  position: relative;
}

.main__plant {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;

  .article-plant-description {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
  }
  .plant__img {
    height: 290px;
    min-height: 290px;
    background: url('./assets/photo.png') no-repeat center;
    background-size: contain;
  }
  .underline {
    width: 100%;
    height: 1px;
    background-color: #111111;
  }
}
.circle__container-desktop {
  margin: 0 auto;
  margin-bottom: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.underline__head {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 1px;
  width: 140px;
  background-color: #111111;
}
.main__comfort {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    position: absolute;
    height: 137px;
    width: 54px;
    background: url('./assets/vector-wygoda.svg') no-repeat center;
    background-size: contain;
    left: 0;
    top: 54%;
  }
  &::after {
    content: '';
    position: absolute;
    background: url('./assets/Vector-wygoda-right.svg') no-repeat center;
    background-size: contain;
    height: 137px;
    width: 54px;
    top: 53.5%;
    right: 0;
  }
  .main__comfort-head {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .comfort-text {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 20px;
      font-weight: 450;
      color: #111111;
    }
  }
  & .circle__container {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & .circle__container-circle {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffffff;
      z-index: 1;
      .circle__number {
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        color: #000000;
        font-weight: 700;
      }
      p {
        font-size: 13px;
      }
    }
  }
  & .main__comfort-photos {
    height: 290px;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .comfort__photo1 {
      display: block;
      height: 290px;
      width: 100%;
      width: 135px;
      background: url('./assets/Pexels-Photo-by-Thirdman-1.jpg') no-repeat;
      background-size: contain;
    }
    .comfort__photo2 {
      display: block;
      height: 290px;
      width: 100%;
      max-width: 135px;
      background: url('./assets/Pexels-Photo-by-MART-PRODUCTION.jpg') no-repeat;
      background-size: contain;
    }
  }
}
.main__accuracy {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  &::before {
    content: '';
    position: absolute;
    height: 137px;
    width: 54px;
    background: url('./assets/vector-wygoda.svg') no-repeat center;
    background-size: contain;
    left: 0;
    top: 76.5%;
  }
  &::after {
    content: '';
    position: absolute;
    background: url('./assets/Vector-wygoda-right.svg') no-repeat center;
    background-size: contain;
    height: 137px;
    width: 54px;
    top: 77%;
    right: 0;
  }
  .main__accuracy-head {
    text-align: center;
    align-items: center;

    font-size: 20px;
    font-weight: 450;
    color: #111111;
  }
  .main__accuracy-article {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .main__accuracy-description {
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      color: #111111;
    }
    & .injection-img {
      margin-bottom: 70px;
      height: 290px;
      width: 100%;
      background: url('./assets/photo.jpg') no-repeat center;
      background-size: contain;
    }
  }
}
.second__page {
  background-color: #ffffff;
  margin: 0 auto 20px auto;

  position: relative;
  width: 100%;
  max-width: 789px;
  min-width: 50px;
  .mechanism-of-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 15px 0 15px;
    width: 100%;
    background-color: #ffffff;

    &::before {
      content: '';
      position: absolute;
      height: 137px;
      width: 54px;
      background: url('./assets/vector-wygoda.svg') no-repeat center;
      background-size: contain;
      left: 0;
      top: 2%;
    }
    &::after {
      content: '';
      position: absolute;
      background: url('./assets/Vector-wygoda-right.svg') no-repeat center;
      background-size: contain;
      height: 137px;
      width: 54px;
      top: 2.5%;
      right: 0;
    }
    .action__head {
      text-align: center;
      color: #111111;
      font-size: 20px;
      font-weight: 450;
    }
    .underline {
      width: 140px;
      height: 1px;
      background-color: #111111;
      margin-top: 30px;
    }

    .action__list {
      margin: 90px 0 30px 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 30px;
      li {
        align-items: center;
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 30px;

        .circled__number {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #ffffff;
          z-index: 1;
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
          .number {
            font-size: 20px;
            color: #000000;
            font-weight: 700;
          }
        }
        .action__desc {
          font-size: 13px;
          font-weight: 450;
          display: flex;
          text-align: left;
          justify-content: flex-start;
        }
      }
    }
  }
}
.ico2 {
  background-image: url('./assets/ico2.svg');
}
.ico3 {
  background-image: url('./assets/ico3.svg');
}
.ico4 {
  background-image: url('./assets/ico4.svg');
}
.ico5 {
  background-image: url('./assets/ico5.svg');
}
.ico6 {
  background-image: url('./assets/ico6.svg');
}
.ico7 {
  background-image: url('./assets/ico7.svg');
}
.ingredients {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto 20px auto;
  position: relative;
  width: 100%;
  max-width: 789px;
  min-width: 50px;
  padding: 0 15px;
  .ingredients__head {
    margin-top: 70px;
    font-size: 20px;
    font-weight: 450;
    text-align: center;
  }
  .underline {
    margin: 30px auto 0;
    width: 140px;
    height: 1px;
    background-color: #111111;
    margin-top: 30px;
  }
  .benefits {
    margin-top: 70px;
    font-size: 13px;
    font-weight: 450;
    text-align: center;
  }
  .ingredients__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      height: 137px;
      width: 54px;
      background: url('./assets/vector-wygoda.svg') no-repeat center;
      background-size: contain;
      left: 0;
      top: 0.5%;
    }
    &::after {
      content: '';
      position: absolute;
      background: url('./assets/Vector-wygoda-right.svg') no-repeat center;
      background-size: contain;
      height: 137px;
      width: 54px;
      top: 1%;
      right: 0;
    }

    .ingredients__content-desktop {
      display: none;
    }
    .ingredients__benefits-list {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 70px;
      margin-bottom: 70px;
      gap: 70px;
      list-style: none;
      li {
        position: relative;

        &:nth-of-type(2n) {
          &::before {
            content: '';
            position: absolute;
            height: 137px;
            width: 54px;
            background: url('./assets/vector-wygoda.svg') no-repeat center;
            background-size: contain;
            left: 0;
            top: -15%;
            transform: translateX(-33%);
          }
          &::after {
            content: '';
            position: absolute;
            background: url('./assets/Vector-wygoda-right.svg') no-repeat center;
            background-size: contain;
            height: 137px;
            width: 54px;
            top: -10%;
            right: 0;
            transform: translateX(33%);
          }
        }
        .benefit__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          gap: 20px;

          .benefit__icon {
            height: 40px;
            width: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
          .benefit__icon1 {
            background-image: url('./assets/ico1.svg');
          }
          .benefit__icon2 {
            background-image: url('./assets/ico2.svg');
          }
          .benefit__icon3 {
            background-image: url('./assets/ico3.svg');
          }
          .benefit__icon4 {
            background-image: url('./assets/ico4.svg');
          }
          .benefit__icon5 {
            background-image: url('./assets/ico5.svg');
          }
          .benefit__icon6 {
            background-image: url('./assets/ico6.svg');
          }
          .benefit__icon7 {
            background-image: url('./assets/ico7.svg');
          }
          span,
          p {
            font-size: 13;
            font-weight: 400;
            color: #111111;
          }
        }
      }
    }
  }
}
.bottle {
  display: none;
}
.dog__desktop {
  display: none;
}
.footer {
  margin: 0 auto 20px auto;

  position: relative;
  width: 100%;
  max-width: 789px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  .footer__photo-bottle {
    height: 411px;
    background: url('./assets/bottleLast.jpg') no-repeat center;
    background-size: contain;
    width: 100%;
  }
  .footer__photo-dog {
    background-color: transparent;
    width: 100%;
    height: 223px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 202px;
      width: 79px;
      background: url('./assets/Vector-piesek-leftsvg.svg') no-repeat center;
      background-size: contain;
      left: 10%;
      top: 12%;
      transform: scale(1.5);
      z-index: 1;
      opacity: 1;
    }
    &::after {
      content: '';
      position: absolute;
      background: url('./assets/Vector-piesek-right.png') no-repeat center;
      background-size: contain;
      height: 202px;
      width: 79px;
      top: 1%;
      right: 0;
      z-index: 22;
    }

    .dog {
      display: block;
      height: 223px;
      z-index: 33;
      opacity: 1;
    }
  }
}

.products {
  margin: 0 auto 20px auto;
  position: relative;
  width: 100%;
  max-width: 789px;
  min-width: 50px;
  padding-top: 126px;
  background-color: var(--background-color);
  padding-left: 15px;
  padding-right: 15px;
  .custom__select-wrapper {
    height: 92px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .select-text {
      text-align: center;
      padding: 10px;
      font-size: 20px;
      font-weight: 450;
      width: 90%;
      border: 1px solid #111;
    }
    .custom__select {
      display: flex;
      flex-direction: column;
      width: 90%;
      position: relative;
      align-items: center;
    }
    .custom__select select,
    .custom__select input {
      width: 100%;
      padding: 10px;
      text-align: center;
      justify-content: center;
      font-size: 20px;
      border: 2px solid #111;
      text-align: center;
      cursor: pointer;
      background: #ad4844;
      color: white;
      position: relative;
    }
    .custom__select select {
      appearance: none;
    }
    .custom__select input {
      display: none;
      text-align: center;
    }
    .custom__select::after {
      content: '';
      position: absolute;
      display: flex;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      width: 7px;
      height: 7px;
      text-align: center;
      justify-content: center;
      left: var(--arrow-position, 58%);
      top: 45%;
      transform: translateY(-50%) rotate(45deg);
      pointer-events: none;
    }
    .custom__select:focus-within::after {
      transform: translateY(-50%) rotate(225deg);
    }
  }
  .products__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 2fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 10%;
  }
}
.select {
  cursor: pointer;
}
.select:hover {
  cursor: pointer;
}
.product {
  width: 105px;
  height: 105px;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product img {
  width: 75px;
  height: 75px;
}
.product p {
  font-size: 20px;
  font-weight: 450;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .page {
    min-width: 769px;
    max-width: none;
    padding: 0;
  }
  .header {
    position: relative;
  }
  .header__container {
    justify-content: initial;
    margin-top: 0;
    height: 122px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .header__hamburger,
  .header__hamburger-icon,
  .menu {
    display: none;
  }
  .header__logo-desktop {
    display: flex;
    align-self: center;
    font-size: 28px;
    position: absolute;
    left: 245px;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
  }
  .header__logo img {
    display: none;
  }
  .header__logo-desktop img {
    display: block;
    height: 29px;
  }
  .header__nav {
    display: flex;
    flex-grow: 1;
    justify-self: center;
    width: 100%;
  }
  .desktop__menu {
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-self: center;
    gap: 40px;
    list-style: none;
  }
  .desktop__menu li {
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
  }
  .main__desktop {
    display: flex;
    flex-direction: column;
    padding: 0 161px;
    max-width: 1920px;
    width: 100%;
  }
  .main {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin-bottom: 120px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .main section {
    margin: 0;
  }
  .main .main__article-plant,
  .main .main__accuracy,
  .main .main__comfort {
    width: 100%;
    max-width: 417px;
  }
  .main__plant {
    margin-top: 0;
    gap: 0;
  }
  .main .main__article-plant *,
  .main .main__article-plant .main__plant *,
  .main .main__accuracy * {
    justify-content: center;
  }

  .main__plant .underline,
  .main__accuracy .underline {
    max-width: 360px;
    margin-top: 24px;
  }
  .main__article-plant .main__plant .plant__img,
  .main__comfort .main__comfort-photos span,
  .main__accuracy .main__accuracy-article .injection-img {
    display: flex;
    border-radius: 8px;
    max-width: 360px;
    height: 290px;
    margin-top: 50px;
    background-size: 100% 100%;
  }
  .main__comfort .main__comfort-photos {
    display: flex;
    justify-content: space-between;
    gap: 0;

    max-width: 360px;
    height: 294px;
    margin-bottom: 0;
  }
  .main__comfort .main__comfort-photos .comfort__photo2,
  .main__comfort .main__comfort-photos .comfort__photo1 {
    max-width: 170px;
    background-size: 100% 100%;
  }
  .distincitions__claw {
    margin-top: 0;
  }
  .hero__image-container-desktop {
    display: flex;
    width: 50%;
  }
  .hero__container .hero__welcome-text {
    width: 50%;
    align-items: flex-start;
    text-align: left;
    align-self: center;
    text-align: left;
  }
  .hero__container .hero__welcome-text .hero__text-large {
    font-size: 48px;
    font-weight: 450;
    text-align: left;
  }
  .hero__container .hero__welcome-text .hero__text-small {
    font-size: 20px;
    text-align: left;
  }
  .hero__container .hero__image {
    display: none;
  }
  .hero__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    margin-top: 31px;
    width: 100%;
    min-width: 769px;
    max-width: 1920px;
  }
  .hero__image-desktop {
    display: flex;
    align-self: flex-start;
    height: 862px;
    background: url('./assets/header-product-photo.png') no-repeat center;
    width: 100%;

    background-size: contain;
  }
  .btn__kup-teraz {
    display: flex;
    margin-top: 30px;
    height: 26px;
    padding: 30px 45px;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #f6f6f6;
    background-color: #30ab4c;
  }
  .main__plant .plant__img,
  .main__plant .underline {
    display: block;
  }
  .main__plant .article-plant-description {
    font-size: 20px;
  }
  .distinctions {
    font-size: 48px;
    font-weight: 450;
  }
  .main .distincitions__claw {
    font-size: 31px;
  }
  .main__comfort {
    margin-top: 0;
    justify-content: initial;
  }
  .circle-text {
    font-size: 20px;
  }
  .main__comfort .main__comfort-head .comfort-text {
    font-size: 31px;
  }
  .main__comfort .circle__container {
    display: none;
  }
  .circle__container-desktop {
    display: flex;
    align-self: flex-start;
    margin: 0;
    margin-bottom: 30px;
    gap: 30px;
    text-align: left;
  }
  .circle__container-desktop .circle__container-circle {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
  }
  .circle__container-desktop .circle__container-circle .circle__number {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
  }
  .main .main__accuracy .main__accuracy-head {
    font-size: 31px;
  }
  .main__accuracy .main__accuracy-article .main__accuracy-description {
    font-size: 20px;
    margin-bottom: 0;
  }
  .second__page {
    display: none;
  }
  .ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 161px;
    width: 100%;
    max-width: none;
  }
  .ingredients__content-desktop .benefit__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d9d9d9;
  }
  .ingredients .ingredients__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ingredients .ingredients__content .ingredients__benefits-list {
    display: none;
  }
  .ingredients .ingredients__content .ingredients__content-desktop {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 14px;
  }
  .ingredients__image-desktop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 1238.31px;
    width: 100%;
    background: url('./assets/bottle__ingredients-desktop.jpg') no-repeat center;
    background-size: contain;
    position: relative;
  }
  .ingredients
    .ingredients__content
    .ingredients__content-desktop
    .benefit__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    max-width: 417px;
  }
  .benefit-item-head {
    font-size: 31px;
    font-weight: 450;
    color: #111111;
  }
  .benefit__item-amount,
  .benefit__item-description {
    font-size: 20px;
    font-weight: 400;
    color: #111111;
  }
  .bottle {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button__buy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    color: #f6f6f6;
    font-size: 20;
    font-weight: 700;
    background-color: #ad4844;
    border: none;
    position: absolute;
    transform: translateY(-200%);
  }
  .dog__desktop {
    display: block;
    height: 496px;
    margin-top: 100px;
    background: url('./assets/piesek1.jpg') no-repeat center;
    background-size: contain;
  }
  .footer {
    display: none;
  }
  .products {
    max-width: none;
    padding: 0 161px;
  }
  .products .products__list {
    grid-template-columns: repeat(auto-fill, minmax(350px, 8fr));
  }
  .products .custom__select-wrapper {
    margin: 120px auto;
    margin-bottom: 0;
    box-sizing: border-box;
    flex-direction: row;
    height: 46px;
    width: 30%;
  }
  .products .custom__select-wrapper .select-text {
    height: 46px;
    font-size: 20px;
    width: 65%;
    border: 1px solid #ad4844;
    background-color: transparent;
  }
  .products .custom__select-wrapper .custom__select {
    width: 35%;
    border: none;
  }
  #custom-input,
  #product-select {
    border: none;
    height: 46px;
  }
  .product {
    width: 100%;
    height: 350px;
    max-width: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
